  <%= render "shared/header" %>

<div class="item-show">
<div class='transaction-contents'>
  <div class='transaction-main'>


    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">クイズタイトル</th>
          <td class="detail-value">    <h2 class="name">
      <%= @quiz.title %>
    </h2></td>
        </tr>
      </tbody>
    </table>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">クイズ製作者</th>
          <td class="detail-value"><%= @quiz.user.nickname %></td>
        </tr>
      </tbody>
    </table>

<%# 問題文 %>
      <section class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
              <div class="jumbotron">
                <p>
<%= @quiz.problem %>
                </p>
            </div>
          </div>
        </div>

<%# 答え1 %>
          <div class="col-lg-4">
              <div class="alert alert-dismissible alert-danger">
                <strong>①.<%= @quiz.answer1 %></strong>
            </div>
          </div>
<%# 答え2 %>
            <div class="col-lg-4">
              <div class="alert alert-dismissible alert-success">
                <strong>②.<%= @quiz.answer2 %></strong>
            </div>
          </div>
<%# 答え3 %>
          <div class="col-lg-4">
              <div class="alert alert-dismissible alert-info">
                <strong>③.<%= @quiz.answer3 %></strong> 
            </div>
          </div>

<%# 答え4 %>
                  <div class="col-lg-4">
       <div class="alert alert-dismissible alert-warning">
                <strong>④.<%= @quiz.answer4 %></strong> 
            </div>
          </div>

<%# 回答フォーム %>
                <p class="lead">
    <%= link_to "答えはこちら", indexfinish2_quiz_path(@quiz.id) ,class:"btn btn-primary btn-lg" ,role:"button"%>
                </p>
</div>
        </div>
      </div>